<div class="col-md-12 booking-area text-center" ng-if="$ctrl.viewAppliances">
        <h1>Which appliance is broken?</h1>
        <p>Choose from the list below:</p>
        <hr>

        
        <div class="row" style="margin-left:10px">
            <div class="col-md-4" ng-repeat="group in $ctrl.groupedAppliances">
                <ul>
                <li ng-repeat="appliance in group" style="text-align:left; font-size:15px;"><a href="" ng-click="$ctrl.showBrands(appliance)">{{appliance}}</a></li>
                </ul>
            </div>

        </div>

    </div>
    <!--Brands-->
     <div class="col-md-12 booking-area text-center" ng-if="$ctrl.viewBrands">
         <h1>What brand is the appliance?</h1>
        <hr>
        <div class="row" style="margin-left:10px"> 
            <div class="col-md-4" ng-repeat="group in $ctrl.groupedBrands">
                <ul>
                <li ng-repeat="brand in group" style="text-align:left; font-size:15px;"><a href="" ng-click="$ctrl.addBrand(brand)">{{brand}}</a></li>
                </ul>
            </div>
        </div>
</div>