<div class="row text-center modal-top-text">
    <div class="col-md-3 first-step" ng-class="{'active-step' : $ctrl.step ===1, 'inactive-step':$ctrl.step !==1}">
        <p>Choose Appliance</p>
    </div>
    <div class="col-md-3 middle-step" ng-class="{'active-step' : $ctrl.step ===2, 'inactive-step':$ctrl.step !==2}">
        <p>Contact Information</p>
    </div>
    <div class="col-md-3 middle-step" ng-class="{'active-step' : $ctrl.step ===3, 'inactive-step':$ctrl.step !==3}">
        <p>Availability</p>
    </div>
    <div class="col-md-3 last-step" ng-class="{'active-step' : $ctrl.step ===4, 'inactive-step':$ctrl.step !==4}">
        <p>Booking Confirmation</p>
    </div>
</div>
<br>
<div class="row">  
    <appliance-info ng-show="$ctrl.step===1" on-done="$ctrl.gotoStep2(appliance)"></appliance-info>

    <user-info ng-show="$ctrl.step===2" booking="$ctrl.booking" on-done="$ctrl.gotoStep3(booking)"></user-info>
    <!-- Will be added later
    <div class="col-md-4">
        <h4> Check our used Appliance inventory</h4>
    </div>-->
</div>

