<div class="col-md-12 booking-area text-center">
<h1>Availability Information </h1>
<p>When can our Technician come to inspect your {{$ctrl.booking.appliance.applianceName}}</p>
<hr>
<form class="form-horizontal col-md-offset-2" ng-submit="$ctrl.addAvailabilityInfo()">
    <div class="form-group">
    <label for="firstName" class="control-label col-sm-2"><i class="fa fa-calendar"></i>Date</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" data-autoclose="true" data-min-date="{{$ctrl.fromDate}}" data-date-type="number" ng-model="$ctrl.booking.availability.earliestDate" bs-datepicker><!--data-autoclose="true"  -->
    </div>
  </div>

   <div class="form-group">
    <label for="firstName" class="control-label col-sm-2"><i class="fa fa-clock-o"></i>From</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" ng-model="$ctrl.booking.availability.earliestTime" data-time-type="number" name="from" bs-timepicker>
    </div>
  </div>

  <div class="form-group">
    <label for="firstName" class="control-label col-sm-2"><i class="fa fa-clock-o"></i>To</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" ng-model="$ctrl.booking.availability.latestTime" data-time-type="number" name="to" bs-timepicker>
    </div>
  </div>

   <div class="form-group">
    <label for="city" class="col-sm-2 control-label">Brief Description</label>
    <div class="col-sm-5">
       <textarea class="form-control" rows="3" placeholder="Enter a brief description of your appliance problem" ng-model="$ctrl.booking.appliance.deffect"></textarea>
    </div>
  </div>
 <div class="modal-footer">
        <button class="btn btn-warning" ng-click="$ctrl.goBack()">Back</button>
        <button type="submit" class="btn btn-primary">Next</button>
  </div>
</form>



</div>