<div class="modal" tabindex="-1" style="width:100%" role="dialog">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()" aria-label="close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body">
                <booking on-close="$hide()"></booking>

            </div>
            
        </div>
    </div>
</div>