<div class=" booking-area ">
<h1 class="text-center">Review your Repair Appointment </h1>


<div class="panel panel-default col-md-8 col-md-offset-2">
    <div class="panel-body">
      <div id="alerts-container" class="text-center"></div>
    <table class="table" style="font-size:16px;">
     <tbody>
      <tr >
        <td style="border-top:0px"><span class="col-md-3">Appliance Type</span>
        <span span class="col-md-5 text-primary">{{$ctrl.booking.appliance.applianceType}}</span>
        </td>
      </tr>
      <tr>
        <td><span class="col-md-3">Appliance Brand</span>
        <span span class="col-md-5 text-primary">{{$ctrl.booking.appliance.brand}}</span>
        </td>
      </tr>
      <tr>
        <td><span class="col-md-3">Name</span>
        <span span class="col-md-5 text-primary">{{$ctrl.booking.clientDetails.firstName}} {{$ctrl.booking.clientDetails.lastName}}</span>
        </td>
      </tr>
      <tr>
        <td><span class="col-md-3">City</span>
        <span span class="col-md-5 text-primary">{{$ctrl.booking.clientDetails.city}}</span>
        </td>
      </tr>
      <tr>
        <td><span class="col-md-3">Phone Number</span>
        <span span class="col-md-5 text-primary">{{$ctrl.booking.clientDetails.phone}}</span>
        </td>
      </tr>

      <tr>
        <td style="border-bottom:1px"><span class="col-md-3">Availabilty</span>
        <span span class="col-md-5 text-primary">On {{$ctrl.booking.availability.earliestDate | date:'shortDate'}} from {{$ctrl.booking.availabilty.earliestTime | date:'h:mm a' }} to {{$ctrl.booking.availabilty.latestTime | date:'h:mm a'}}</span>
        </td>
      </tr>
    </tbody>

        </table>
    </div>
    <div class="modal-footer" ng-if="!$ctrl.done">
        <button class="btn btn-warning" ng-click="$ctrl.goBack()">Back</button>
        <button ng-click="$ctrl.submitBooking()" class="btn btn-primary">Submit</button>
  </div>
  <div class="modal-footer" ng-if="$ctrl.done">
    <button class="btn btn-primary" ng-click="$ctrl.close()">Close</button>
  </div>
  </div>

</div>
