<div class=" booking-area ">
<h1 class="text-center">Review your Repair Appointment </h1>


<div class="panel panel-default col-md-8 col-md-offset-2">
    <div class="panel-body">
    <table class="table">
     <tbody>
      <tr >
        <td style="border-top:0px"><span class="col-md-3"><b>Appliance Type</b></span>
        <span span class="col-md-5">Fridge</span>
        </td> 
      </tr>
      <tr>
        <td><span class="col-md-3"><b>Appliance Brand</b></span>
        <span span class="col-md-5">Fridge</span>
        </td> 
      </tr>
      <tr>
        <td><span class="col-md-3"><b>Name</b></span>
        <span span class="col-md-5">Fridge</span>
        </td> 
      </tr>
      <tr>
        <td><span class="col-md-3"><b>City</b></span>
        <span span class="col-md-5">Fridge</span>
        </td> 
      </tr>
      <tr>
        <td><span class="col-md-3"><b>Phone Number</b></span>
        <span span class="col-md-5">Fridge</span>
        </td> 
      </tr>

      <tr>
        <td><span class="col-md-3"><b>Availabilty</b></span>
        <span span class="col-md-5">Fridge @ 2:00</span>
        </td> 
      </tr>
      <tr>
        <td><span class="col-md-3"><b>Defect Description</b></span>
        <span span class="col-md-5">Fridge</span>
        </td> 
      </tr>
    </tbody>

        </table>
        

    </div>
    <div class="modal-footer">
        <button class="btn btn-default">Back</button>
        <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </div>
  
</div>