<div class="col-md-12 booking-area ">
<h1 class="text-center">Enter your contact Information </h1>
<hr>

<form class="form-horizontal col-md-offset-2" ng-submit="contactInfoForm.$valid && $ctrl.addUserInfo()" name="contactInfoForm" novalidate>
    <div class="form-group">
    <label for="firstName" class="control-label col-sm-2">First Name</label>
    <div class="col-sm-5">
      <input type="text" class="form-control"
                          name="firstName"
                          ng-model="$ctrl.booking.client.firstName" 
                          placeholder="Enter First Name"
                          ng-maxlength="30"
                          required>
      <div class="form-error" ng-messages="contactInfoForm.firstName.$error" ng-if="contactInfoForm.firstName.$dirty || contactInfoForm.$submitted">
        <div ng-message="required">First name is required</div>
        <div ng-message="maxlength">First name should be no more than 20 characters</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="lastName" class="col-sm-2 control-label">Last Name</label>
    <div class="col-sm-5">
      <input type="text"  class="form-control" 
                          name="lastName"
                          ng-model="$ctrl.booking.client.lastName" 
                          placeholder="Enter Last Name"
                          ng-maxlength="30"
                          required>
      <div class="form-error" ng-messages="contactInfoForm.lastName.$error" ng-if="contactInfoForm.lastName.$dirty || contactInfoForm.$submitted">
        <div ng-message="required">Last name is required</div>
        <div ng-message="maxlength">Last name should be no more than 20 characters</div>
      </div>
    </div>
  </div>
<!--TODO:Add asterix on required fields-->
  <div class="form-group">
    <label for="phone" class="col-sm-2 control-label">Phone Number</label>
    <div class="col-sm-5">
      <input type="text" class="form-control"
                        name="phone"  
                        ng-model="$ctrl.booking.client.phone"
                        min-length="10"
                        required 
                        placeholder="xxx-xxx-xxxx">
      <div class="form-error" ng-messages="contactInfoForm.phone.$error" ng-if="contactInfoForm.phone.$dirty || contactInfoForm.$submitted">
        <div ng-message="required">The phone number is required</div>
         <div ng-message="minlength">Invalid phone number</div>
    </div>
  </div>
  </div>
  <div class="form-group">
    <label for="city" class="col-sm-2 control-label">City</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" ng-model="$ctrl.booking.client.city"  placeholder="Enter City" name="city" required>
      <div class="form-error" ng-messages="contactInfoForm.city.$error" ng-if="contactInfoForm.city.$dirty || contactInfoForm.$submitted">
        <div ng-message="required">The City is required</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="zip" class="col-sm-2 control-label">Zip Code</label>
    <div class="col-sm-5">
      <input type="text" class="form-control"  ng-model="$ctrl.booking.client.zipcode" name="zipCode" placeholder="xxxxx" required>
      <div class="form-error" ng-messages="contactInfoForm.zipCode.$error" ng-if="contactInfoForm.zipCode.$dirty || contactInfoForm.$submitted">
        <div ng-message="required">The zip code is required</div>
    </div>
    </div>
  </div>
  <div class="modal-footer">
         <button class="btn btn-default btn-warning" ng-click="$ctrl.goBack()">Back</button>
         <button type="submit" class="btn btn-primary">Next</button>
  </div>
</form>
</div>