<div class="row">

<h2 class="text-center">Administrator Login</h2>
<br/>
<p style="color:red" class="text-center" ng-if="login.showError">{{login.showError}}</p>
<form class="form-horizontal col-md-offset-2" ng-submit="loginForm.$valid && login.signIn()" name="loginForm" novalidate>
    <div class="form-group">
    <label for="username" class="control-label col-sm-2">Email</label>
    <div class="col-sm-4">
      <input type="text" class="form-control"
                          name="username"
                          ng-model="login.user.email" 
                          placeholder="Enter the Email"
                          required>
      <div class="form-error" ng-messages="loginForm.username.$error" ng-if="loginForm.username.$dirty || loginForm.$submitted">
        <div ng-message="required">The Email is required</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="pswd" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-4">
      <input type="password"  class="form-control" 
                          name="pswd"
                          ng-model="login.user.password" 
                          placeholder="Enter Your Password"
                          required>
      <div class="form-error" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$dirty || loginForm.$submitted">
        <div ng-message="required">Password is required</div>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-offset-2">
         <button type="submit" class="btn btn-primary" ng-disabled="!loginForm.$valid">Sign In</button>
  </div>

</form>

</div>
