<div  id="wrapper" class="container">
  <section class="main-content">
    <br/><br/>
    <div class="row">
      <!--Image section-->
      <div class="col-md-4">
        <div class="row">
          <img ng-src="{{details.selectedImage}}"   width="300" height="300"  alt="{{details.selectedImage.brand}}">
        </div>
        <br/>
        <div class="row">
          <ul>
          <li ng-repeat="image in details.applianceDetails.imageUrls track by $index" class="col-md-2"
              style="border-style:solid;border-width: thin;border-color: #1c3254;margin-right: 5px">
            <a ng-click="details.selectedImage = details.applianceDetails.imageUrls[$index]"><img ng-src="{{details.applianceDetails.imageUrls[$index]}}" width="60" height="60"></a>
          </li>
          </ul>
        </div>
      </div>

      <!--Right section-->
      <div class="col-md-4">
        <div class="row">
        <p class="price">{{details.applianceDetails.price | currency}}</p>
        </div>
        <div class="row">
          <h4>{{details.applianceDetails.title}}</h4>
        </div>
        <div class="row">
          <h4>Key features:</h4>
          <p>{{details.applianceDetails.features}}</p>
        </div>
        <div class="row">
          <h4>Description:</h4>
          <p>{{details.applianceDetails.details}}</p>
        </div>
        <br/>
        <div class="row">
          <p><button type="button" class="btn btn-primary" ng-disabled="!details.applianceDetails" ng-click="details.addToCart(appliance)">Add to Cart</button></p>
        </div>
      </div>


    <!--<div class="table-responsive col-lg-8">
        <table class="table" >
            <thead>
                <th></th>
                <th></th>
            </thead>
            <tr>
                    <td rowspan="3"><img ng-src="{{details.applianceDetails.imageUrls[0]}}"   width="300" height="300"  alt="{{details.applianceDetails.brand}}"></td>
                    <th>{{details.applianceDetails.type}}</th>

            </tr>

            <tr>
                <td>
                    <div>
                        <h4>Key features</h4>
                        <p>{{details.applianceDetails.features}}</p>
                    </div>
                    <div>
                        <h4>Description</h4>
                        <p>{{details.applianceDetails.details}}</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>-->
    </div>
  </section>
</div>
